@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1rem;
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.css-njuh9c-MuiFormControl-root-MuiTextField-root {
  transform: translate(0px, -18px);
}
